.PaginationComponent {
  display: inline-block;
  margin-right: 15px;
  .pagination {
    margin-bottom: 0;
    margin-top: 10px;
    .page-item {
      border: none;
      &.next-button {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &.prev-button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:focus:not(.disabled) {
        box-shadow: inset black 0px 0px 8px -4px;
      }
      &:not(.next-button):not(.prev-button).selected {
        background-color: rgba(130, 130, 130, 1);
        color: white;
        box-shadow: inset black 0px 0px 8px -4px;
      }
    }
  }
}

/* [START] Mobile adaptation */
@media (max-width: 768px) {
  .PaginationComponent {
    display: block;
    margin-bottom: 12px;
  }
}
/* [END] Mobile adaptation */