.App {
  text-align: center;
  background: url(assets/background.jpg) center 0 no-repeat;
  height: 100vh;
  overflow-y: scroll;
  .body_container {
    padding-top: calc(#{$header-height} + 30px);
    display: flex;
    flex-wrap: wrap;
  }
}

/* [START] Mobile adaptation */
@media (max-width: 768px) {
  .App {
    .body_container {
      padding-top: calc(#{$mobile-header-height} + 22px);
    }
  }
}
/* [END] Mobile adaptation */
