$details-component-height: 80vh;
$details-shared-light-gray: rgba(220, 220, 220, 0.4);
.DetailsViewComponent {
  background-color: $main-bg-color;
  height: $details-component-height;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  border-radius: $main-bg-radius;
  padding: 15px;
  padding-top: 20px;
  width: 60vw;
  position: fixed;
  right: 3vw;
  .details_container {
    .data_display {
      width: 70%;
      margin: auto;
      margin-top: 25px;
      padding: 15px;
      background-color: $shared-bg-color;
      border-radius: $shared-border-radius;
      .caption {
        background-color: $details-shared-light-gray;
        &:first-child {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
      .data {
        background-color: rgba(181, 181, 181, 0.4);
        color: white;
        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      span {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    .thumbnail_container {
      display: inline-block;
      background-color: $shared-bg-color;
      border-radius: $shared-border-radius;
      padding: 10px;
      transition: background-color 0.2s;
      &:hover {
        background-color: rgba(200, 200, 200, 0.5);
      }
      img {
        border-radius: 10px;
        &.is_default_thumbnail {
          width: 140px;
        }
      }
    }
  }
  .no_entry_selected {
    h3 {
      line-height: calc(#{$details-component-height} - 5vh);
    }
  }
}

/* [START] Mobile adaptation */
@media (max-width: 768px) {
  .DetailsViewComponent {
    &:not(.show){
      display: none;
    }
    position: absolute;
    top: 5vh;
    left: 3vw;
    width: 94vw;
    height: 80vh;
    z-index: 11;
    i.close_modal {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      background-color: $details-shared-light-gray;
      border-radius: 30px;
      padding: 5px;
      z-index: 12;
    }
    .details_container {
      .data_display {
        width: 90%;
      }
    }
  }
}
/* [END] Mobile adaptation */
