.HeaderComponent {
  text-align: left;
  position: fixed;
  width: 100%;
  height: $header-height;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(45, 45, 45, 0.55);
  box-shadow: inset 0px -20px 100px -27px;
  z-index: 20;
  .logo {
    width: 30px;
    padding-top: 10px;
  }
}
