/* Import global SCSS variables so they can be available on every other SCSS file imported below */
@import '_global-variables.scss';

/* [START] Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* [END] Global styles */

@import './components/App/App.scss';
@import './components/HeaderComponent/HeaderComponent.scss';